*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2 ease-in-out;

}



/* navigation */
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar__icon{
    font-size:32px
}
/* upper section   */
.container__image--text{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.container__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color:#149f39;
    padding: 5px 10px;
    align-self: flex-start;
    color: white;

}
.container__content h1{
    font-size:72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore__btn{
    background-color: #ffc066;
    align-self:flex-start;
}

.features{
    margin-top: 100px;
    display: flex;  
    gap: 20px; 
    justify-content:center;
    margin-bottom:50px;

}
.feature{
    display: flex;
    gap: 20px;  
    padding:20px;
    transition:0.2 ease-in-out;
}
.feature img{
    width: 72px;
}
.feature:hover{
    transition:0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}


.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}


/* menu section */
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;

}
.menu .tag{
    align-self: center;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas:
     "I1 I1 I2 I3"
     "I1 I1 I2 I7"
     "I4 I5 I6 I7"
}
.grid__image{
    border-radius: 10px;
    transition:0.2s ease-in-out;
    width: 100%;
    height: 100%;
}
.grid__image:hover{
    transform: scale(1.04);
    transition: 0.3s ease-in-out;;
}
.item1{
    grid-area:I1;
}
.item2{
    grid-area:I2;
}
.item3{
    grid-area:I3;
}
.item4{
    grid-area:I4;
}
.item5{
    grid-area:I5;
}
.item6{
    grid-area:I6;
}
.item7{
    grid-area:I7;
}



/* footer    */

.footer__section{
    width: 1005;
    display: flex;
    justify-content: space-evenly;
    margin-top:100px;
    background-color:#fff0db;
    
}
.footer__section--content{

    margin-top:40px;
    padding-bottom: 60px; 
}
.footer__section--content h3{
    padding-bottom: 10px
}
.footer__section--content ul li{
    list-style: none;
}
.my__icon{
    padding-left: 10px;
}
.follow__us{
    margin-top: 15px;
}

 /* make the upper section responsive */


 @media(max-width:856px){
     .container__image--text{
         flex-direction: column;
     }
     .container__image{
         display: flex;
         justify-content:center;
     }
     
     .container__image img{
         width: 90%;
     }
     .container__content{
         gap: 10px;
         padding: 10px;

     }
     .container__content h1{
         font-size :32px;
     }
     .features{
         flex-direction: column;
     }
     .feature{
         flex-direction: column;
     }
     .grid{
         padding: 10px;

     }
     .grid__image{
         border-radius: 0px;
     }
     .footer__section--content{
         margin-top:30px;
         padding-bottom: 5px;
     }
 }
@media (max-width: 680px){
    .footer__section{
        flex-direction: column;
        align-items:center;
    }
    
    .footer__section--content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

}

